body {
    margin: 0;
    padding: 0;
    max-width: 100%;
    overflow-x: hidden;
    background-color: #031246;
    font-family: sans-serif;
    color: white;
    box-sizing: border-box;
}

h1{
    text-align: center;
    color: white;
    font-family: sans-serif;
    padding: 30px;
    font-size: 68px;
    font-weight: 500;
}

/*PARTE DE LAS CAJAS CONTAINER*/

.card-container{
    box-sizing: border-box;
    display: flex;
    gap: 50px;
    padding-left: 40px;
    padding-right: 40px;
    width: 1350px;
    margin: 20px;
    height: 600px;
}

.card{
    border-width: 1px; color: white;
    box-sizing: border-box;
    border-style:solid;
    border-radius: 0 30px 30px 30px;  
    margin: 20px;
    display: flex;
    flex-direction: column;
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 0px 0px 12px 0px white;
}

.card h2{
    font-family: sans-serif;
    font-size: 25px;
    padding: 10px 30px 0px 30px;
    margin: 0;
    text-align: center;
}

.card p{
font-family: sans-serif;
font-size: 13px;
padding: 0px 30px 60px 30px;
line-height: 20px;
}

.card a{
    text-align: center;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}


/*IMAGENES BIOMETRICAS*/

.imagen-icon{
    display: block;
    width: 140px;
    padding: 30px;
    text-align: center;
    margin: auto;
    border-radius: 100%;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin-left: 50px;
}

.caja-imagen {
    position: relative;
    display: block;
    width: 280px;
    height: 165px;
    border-radius: 0px 30px 30px 30px;
    box-sizing: border-box;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;
    transition: all 0.4s ease;
}

.caja-imagen:hover{
    box-shadow: 0px 0px 15px 0px white;
    border-radius: 0 30px 30px 30px;
}

.imagen {
    width: 100%;
    height: 100%;
    transition: box-shadow 0.2s ease, opacity 0.1s ease;
    object-fit: cover;
    border: 0px solid white;
    border-radius: 0px 30px 30px 30px;
    opacity: 0.6;
    display: block;
}

.texto-en-imagen {
    font-size: 23px;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    position: absolute;
    padding: 10px;
    text-align: center;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    z-index: 2;
    transition: all 0.6s ease;
}

.texto-en-imagen:hover {
    font-size: 23px;
    top: 45%;
    left: 0%;
    transform: translateY(-50%);
    z-index: 2;
}

/*FITSALE PUBLICIDAD */

.fitsale-publicidad{
background-color: #031246;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fitsale-publicidad h3{
    font-size: 25px;
    margin-bottom: 55px;
}

.fitsale-publicidad h2{
    font-size: 25px;
    margin-top: 55px;
}

.fitsale-logo{
    max-width: 100%;
    height: auto;
}

.botones-app{
    display: flex;
    width: 100%;
    justify-content: center;
}

.boton-app{
    display: block;
    background-color: transparent;
    width: 255px;
    height: auto;
    gap: 40px;
    margin: 10px;
    transition: width 0.5s ease;
}

.boton-app:hover{
    width: 275px;
}



/*ALIADOS*/

.aliados{
    margin: auto;
    text-align: center;
}

.texto-aliados h2{
    font-size: 48px;
    color: #ffffff;
}

.img-aliados{
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    gap: 20px;
}

.imagen-aliados{
    width: 200px;
    transition: width 0.5s ease;
}

.imagen-aliados:hover{
    width: 250px;
}

/* Navbar Styles */
header {
    background-color: #263d70d6;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

.navbar {
    max-width: 1200px;
    margin: 0 54px;
    padding: 0 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.navbar-logo img {
    height: 75px;
    margin-left: 20px;
}

.navbar-palabras {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 0 16px 0 0 ;
}

.navbar-link {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar-link .link a {
    text-decoration: none;
    color: #ffffffbf;
    font-size: 20px;
    font-weight: 500;
    transition: color 0.2s ease;
}

.navbar-link .link a:hover {
    color: #ffffff;
}

/* Botones de CTA */
.cta-button-demo {
    background-color: rgb(160, 192, 246);
    width: auto;
    height: auto;
    border: 0px solid white;
    border-radius: 18px;
    padding: 11px;
    transition: all 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.cta-button-demo a {
    color: rgba(44, 42, 41);
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    justify-content: left;
    text-align: left;
}

.cta-button-demo:hover {
    background-color: rgb(45, 96, 145);
}

.cta-button-entrar {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: white;
    border: 0px solid white;
    border-radius: 8px;
    padding: 8px 10px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.cta-button-entrar a {
    color: blue;
    font-size: 20px;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
}

.cta-button-entrar:hover a {
    color: white;
}

.cta-button-entrar:hover {
    background-color: blue;
    color: white;
}

/*BOTON DE CONTACTO*/

.contacto{
    text-align: center;
    text-decoration: none;
    color: #ffffff;
}

.contacto h2{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
}

.contacto p{
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #ffffff;
}


.boton-contact{
    text-align: center;
    margin: auto;
    width: 110px;
    height: 35px;
    padding: 5px;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    margin-bottom: 20px;
    background-color: transparent;
    font-family: sans-serif;
    transition: 0.5s ease;
}

.boton-contact:hover{
    background-color: #061d70;
    border: 1px solid black;
    box-shadow: 0px 0px 8px 0px white;
    color: #ffffff;
    cursor: pointer;
}


/* FOOTER ESTILOS*/

.footer-background {
    background-color: #081531;
    width: 100%;
    margin: auto;
    color: white;
    padding: 0 12px;
    font-family: sans-serif;
}

.footer-contenedor {
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 16px 96px 48px;
    gap: 40px;
}

.footer-medio {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.column-1 {
    flex: 1;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.logo-clez .clez-logo {
    width: 300px;
}

.iconos-sociales {
    display: flex;
    gap: 50px;
}

.social-icon {
    width: 30px;
    height: 25px;
    transition:0.3s ease;
}

.social-icon:hover {
    width: 35px;
    height: 30px;
}

.column-2 {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.footer-centro-palabra{
    display: flex;
}

.footer-palabra {
    box-sizing: border-box;
    padding: 0px 12px;}

.footer-palabra h4 {
    font-size: 20px;
    margin: 0 0 8px;
    color: #ffffff;
}

.footer-palabra ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-palabra ul li a {
    text-decoration: inherit;
    color: #5A5E6B;
    font-size: 16px;
    transition: color 0.2s ease;
}

.footer-palabra ul li{
    text-decoration: inherit;
    color: #5A5E6B;
    font-size: 16px;
    transition: color 0.2s ease;
    margin: 5px;
}


.footer-palabra ul li a:hover {
    color: white;
    text-decoration: underline;
}

.footer-legal {
    width: 100%;
    display: flex;
    border-top: 1px solid #333;
    margin: 0 12px;
    padding: 16px 64px;
    font-size: 16px;
    color: #999;
}

.colum-3{
    margin-top: 20px;
    width: 50%;
    margin-left: 30px;
}

.colum-4{
    margin-top: 20px;
    width: 50%;
    margin-right: 200px;
}

.colum-3 h4 {
    font-size: 28px;
    color: #ffffff;
    margin: 0 0 8px;
    box-sizing: border-box;
}

.colum-3 p {
    font-size: 12px;
    color: #5A5E6B;
    margin: 0 0 16px;
}

.colum-4 h5{
    font-size: 20px;
    margin: 0 0 8px;
    color: #ffffff;
    text-align: end;
}